*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: black;
}

body{
    margin:0 50px;
    height: 150vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:0 50px;
    display: flex;
    justify-content: space-between;

}

header img{
    padding: 30px 0;
    width: 80px;
    height: fit-content;
}

header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 70px;
    height: 100%;
}

header li {
padding: 16px 0;
    border-top: 2px solid rgba(255, 255, 255, 0);
}

header li:hover{
    border-top: 2px solid rgba(0, 101, 252, 1);
    transition: 0.3s;
}

header a:hover{
    color: rgba(0, 101, 252, 1);
    transition: 0.3s;
}