/* 

---- color ----

blue = #0065FC
lightblue = #DEEBFF
grey = #D9D9D9
lightgrey = #F2F2F2 

----------------

---- Font ----

Card title: weight 700, size 16px
Title : weight 700, size 22px
p : weight 400, size 16px

----------------

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 22px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.card-title {
  font-size: 16px;
  font-weight: 700;
}

body {
  margin: 0 230px;
}

header {
  display: flex;
  justify-content: space-between;

  img {
    padding: 30px 0;
    width: 80px;
    height: fit-content;
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 70px;
    height: 100%;
  }
  li {
    padding: 16px 0;
    border-top: 2px solid rgba(255, 255, 255, 0);
    &:hover {
      border-top: 2px solid #0065fc;
      transition: 0.3s;
      cursor: pointer;
    }
  }

  a:hover {
    color: #0065fc;
    transition: 0.3s;
  }
}

#Search {
  margin: 30px 0;
  div {
    margin-top: 35px;
  }
}

#SearchBar {
  display: flex;
  align-items: stretch;
  width: fit-content;

  i {
    background-color: #d9d9d9;
    border-radius: 15px 0 0 15px;
    width: 45px;
    padding: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input[type="text"] {
    padding: 10px 20px;
    border: solid 1px #d9d9d9;
    font-size: 17px;
    font-weight: 700;
    /*&::placeholder {
    color: black;}*/
  }

  input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: #0065fc;
    color: white;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      background-color: #0050e6;
      transition: 0.3s;
    }
  }
}

#Filtres {
  display: flex;
  align-items: center;
  gap: 15px;

  button {
    background: none;
    padding: 10px 20px;

    border: 2px solid #d9d9d9;
    border-radius: 25px;

    cursor: pointer;
    font-weight: 700;
    font-size: 17px;

    display: flex;
    gap: 10px;
    align-items: center;
    i {
      font-size: 22px;
      color: #0065fc;
    }
    &:hover {
      background-color: #0065fc31;
      transition: 0.3s;
    }
  }

  .filter-button--state-active {
    background-color: #0065fc31;
  }
}

#SearchBar__Result {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  i {
    color: #0065fc;
    font-size: 15px;
    padding: 5px 10px;
    border: 2px solid #d9d9d9;
    border-radius: 50%;
  }
  p {
    display: flex;
    align-items: center;
  }
}

#card {
  display: flex;
  gap: 40px;
  section {
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 30px;
  }
  #card--herbergement {
    width: 70%;
    #card--herbergement-list {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      gap: 30px;
      flex-wrap: wrap;
      .card--herbergement-list__card {
        display: flex;
        flex-direction: column;
        width: 31%;
        background: white;
        border-radius: 20px;
        img {
          height: 125px;
          width: 100%;
          object-fit: cover;
          border-radius: 20px 20px 0 0;
          border: 5px solid white;
        }
        .card--herbergement-list__card-info {
          padding: 5px 15px 15px 15px;
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
      }
    }
    #card--herbergement__more-button {
      margin-top: 30px;
    }
  }
  #card--populaire {
    width: 30%;
    #card--populaire-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;
      margin-top: 30px;
      .card--populaire-list__card {
        display: flex;
        background: white;
        border-radius: 20px;
        img {
          height: 145px;
          width: 125px;
          object-fit: cover;
          border-radius: 20px 0 0 20px;
          border: 5px solid white;
        }
        .card--populaire-list__card-info {
          width: 100%;
          padding: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
  }
}

.active-star {
  color: #0065fc;
}

.inactive-star {
  color: #d9d9d9;
}

#Activity {
  margin: 30px 0;
  padding: 30px;
  #Activity--list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    .Activity--list__card {
      background-color: white;
      box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      img {
        height: 380px;
        width: 300px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
      }
      .Activity--list__card-info {
        padding: 15px;
      }
    }
  }
}
