:root {
  --blue: #0065FC;
  --lightblue: #DEEBFF;
  --grey: #D9D9D9;
  --lightgrey: #F2F2F2;

  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.25rem;
  --spacing-xl: 1.5rem;
  --spacing-xxl: 2rem;
  --spacing-xxxl: 2.5rem;
  --spacing-xxxxl: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0 230px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

/* ------------- header --------------- */

.header {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  padding: var(--spacing-xxl) 0;
  width: 5rem;
  height: fit-content;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: var(--spacing-xxxxl);
}

.header__nav__link {
  padding: var(--spacing-md) 0;
  border-top: 2px solid rgba(255, 255, 255, 0);
}

.header__nav__link:hover {
  border-top: 2px solid var(--blue);
  transition: 0.3s;
  cursor: pointer;
}


.main__header {
  margin: var(--spacing-xxl) 0;
}

/* ------------- Search --------------- */


.main__header__search {
  margin: var(--spacing-xxl) 0;
  display: flex;
  align-items: stretch;
  width: fit-content;
}

.main__header__title {
  font-size: var(--spacing-xl);
  font-weight: 700;
}

.main__header__subtitle {
  font-size: var(--spacing-md);
  font-weight: 400;
}

.main__header__search__icon {
  background-color: var(--grey);
  border-radius: var(--spacing-md) 0 0 var(--spacing-md);
  width: var(--spacing-xxxxl);
  padding: var(--spacing-sm);
  font-size: var(--spacing-md);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__header__search__input[type="text"] {
  padding: var(--spacing-sm) var(--spacing-lg);
  border: solid 1px var(--grey);
  font-size: 1rem;
  font-weight: 700;
}

.main__header__search__button[type="submit"] {
  padding: var(--spacing-sm) var(--spacing-lg);
  border: none;
  border-radius: 0 var(--spacing-md) var(--spacing-md) 0;
  background-color: var(--blue);
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.main__header__search__button[type="submit"]:hover {
  background-color: var(--blue);
  transition: 0.3s;
}

/* ------------- Filter --------------- */

.main__filter {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.main__filter__title {
  font-size: var(--spacing-lg);
  font-weight: 700;
}

.main__filter__button {
  background: none;
  padding: var(--spacing-sm) var(--spacing-lg);
  border: 2px solid #d9d9d9;
  border-radius: var(--spacing-xl);
  cursor: pointer;
  font-weight: 700;
  font-size: var(--spacing-md);
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
}

.main__filter__button:hover {
  background-color: #0065fc31;
  transition: 0.3s;
}

.main__filter__button__icon {
  font-size: var(--spacing-xl);
  color: var(--blue);
}

.filter-button--state-active {
  background-color: #0065fc31;
}


.main__filter__information {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-lg);
  margin-top: var(--spacing-xxl);
}

.main__filter__information__text {
  font-size: var(--spacing-md);
}

.main__filter__information__icon {
  color: var(--blue);
  font-size: 1rem;
  padding: var(--spacing-xs) var(--spacing-sm);
  border: 2px solid var(--grey);
  border-radius: 50%;
}

.main__filter__information__text {
  display: flex;
  align-items: center;
}

.main__grid {
  display: flex;
  gap: var(--spacing-xxxl);
  justify-content: space-between;
}

.main__grid__herbergements,
.main__grid__populaire {
  background-color: var(--lightgrey);
  border-radius: var(--spacing-md);
  padding: var(--spacing-xxl);
}

/* ------------- hébergements --------------- */

.main__grid__herbergements {
  width: calc(70% - var(--spacing-xxxl));
}

.main__grid__herbergements__title {
  font-size: var(--spacing-xl);
  font-weight: 700;
}

.main__grid__herbergements__list {
  margin-top: var(--spacing-xxl);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;

}

.main__grid__herbergements__list__card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: var(--spacing-xl);
}

.main__grid__herbergements__list__card__image {
  height: 125px;
  width: 100%;
  object-fit: cover;
  border-radius: var(--spacing-xl) var(--spacing-xl) 0 0;
  border: var(--spacing-xxs) solid white;
}

.main__grid__herbergements__list__card__info {
  padding: var(--spacing-xxs) var(--spacing-md) var(--spacing-md) var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxs);
}

.main__grid__herbergements__list__see-more {
  margin-top: var(--spacing-xxxl);
  font-size: var(--spacing-lg);
  font-weight: 700;
}

/* ------------- Populaire --------------- */

.main__grid__populaire {
  width: calc(30% - var(--spacing-xxxl));
}

.main__grid__populaire__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__grid__populaire__header__title {
  font-size: var(--spacing-xl);
  font-weight: 700;

}

.main__grid__populaire__header__icon {
  font-size: var(--spacing-lg);
  color: var(--blue);
}

.main__grid__populaire__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-xxl);
  margin-top: var(--spacing-xxl);
}

.main__grid__populaire__list__card {
  cursor: pointer;
  display: flex;
  background: white;
  border-radius: var(--spacing-lg);
}

.main__grid__populaire__list__card__header__info__title {
  font-size: var(--spacing-md);
  font-weight: 700;
}

.main__grid__populaire__list__card__header__info__subtitle {
  font-size: var(--spacing-sm);
  font-weight: 400;
}

.main__grid__populaire__list__card__image {
  height: 145px;
  width: 125px;
  object-fit: cover;
  border-radius: var(--spacing-lg) 0 0 var(--spacing-lg);
  border: 5px solid white;
}

.main__grid__populaire__list__card__header {
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__grid__populaire__list__card__stars__active,
.main__grid__herbergements__list__card__stars__active {
  color: var(--blue);
}

.main__grid__herbergements__list__card__stars__inactive,
.main__grid__populaire__list__card__stars__inactive {
  color: var(--grey);
}

/* ------------- Activity --------------- */

.main__activity {
  margin: var(--spacing-xxl) 0;
  padding: var(--spacing-xxl);
}

.main__activity__title {
  font-size: var(--spacing-xl);
  font-weight: 700;
}

.main__activity__list {
  margin-top: var(--spacing-xxl);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__activity__list__card {
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 3px var(--spacing-md) 0px rgba(0, 0, 0, 0.1);
  border-radius: var(--spacing-lg);
}

.main__activity__list__card__image {
  height: 380px;
  width: 300px;
  object-fit: cover;
  border-radius: var(--spacing-lg) var(--spacing-lg) 0 0;
}

.main__activity__list__card__title {
  padding: var(--spacing-md);
  font-size: var(--spacing-md);
  font-weight: 700;
}

/* ------------- Footer --------------- */

.footer {
  display: flex;
  justify-content: space-between;
  background: var(--lightgrey);
  padding: var(--spacing-lg);
}

.footer__a-propos,
.footer__hebergements,
.footer__assistance {
  width: calc(30% - var(--spacing-xxxl));
  display: flex;
  gap: var(--spacing-lg);
  flex-direction: column;
}

.footer__hebergements__title,
.footer__a-propos__title,
.footer__assistance__title {
  font-size: var(--spacing-lg);
  font-weight: 700;
}

.footer__hebergements__subtitle,
.footer__a-propos__subtitle,
.footer__assistance__subtitle {
  font-size: var(--spacing-md);
  font-weight: 400;
}

/* ------------- desktop --------------- */

@media only screen and (max-width: 1440px) {

  body {
    margin: 0 50px;
  }
}

/* ------------- tablet --------------- */

@media only screen and (max-width: 1024px) {

  body {
    margin: 0 50px;
  }

  .main__grid__herbergements__list__card {
    width: calc(30% - var(--spacing-md));
  }

  .main__grid__populaire__list__card {
    flex-direction: row;
  }

  .main__grid__populaire__list__card__image {
    height: 125px;
    width: 100px;
  }

  .main__grid__populaire__list__card__header {
    padding: var(--spacing-sm);
  }

  .main__grid__populaire__list__card__header__info__title {
    font-size: var(--spacing-sm);
  }

  .main__grid__populaire__list__card__header__info__subtitle {
    font-size: var(--spacing-xs);
  }

  .main__activity__list__card__image {
    height: 300px;
    width: 250px;
  }

  .footer__a-propos,
  .footer__hebergements,
  .footer__assistance {
    width: calc(50% - var(--spacing-xxxl));
  }
}